# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log



# Datasets (too large for GitHub)
data/

# Cache
*.cache/
